# Node / builds
**/node_modules/
**/dist/
**/build/
**/coverage/

# Environnements (ignore partout, sauf fichiers d'exemple)
**/.env
**/.env.*
!**/.env.example
!**/.env.*.example
**/*.local

# Fichiers générés / uploads
**/uploads/
!**/uploads/.gitkeep

# OS / IDE
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
